.nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}
.nav-responsive {
  display: none;
}
.nav-main {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: all 0.375s;
}
.nav-main.active {
  opacity: 1;
  z-index: 100;
  visibility: visible;
  height: 100vh;
  position: fixed;
  background-color: #f4f8fa;
}
.nav-main::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -15px;
  background: #707bf5;
  transform-origin: 0 0;
  transform: skew(-14deg) translateX(-120%);
  transition: all 0.275s 0.1s;
}
.nav-main.active::before {
  transform: skew(-14deg) translateX(0);
}
.nav-main ul {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-end;
  justify-content: center;
  transform: translateX(-18%) skew(-16deg);
}

.nav-main li {
  display: block;
  margin: 0.5rem 0;
  text-align: right;
  transform: skew(16deg);
}
.nav-main a {
  opacity: 0;
  transform: translateX(-10px);
  color: white;
}
.nav-main.active a {
  opacity: 1;
  transform: translateY(0);
}
.nav-main li:nth-child(1) a {
  transition: all 275ms 175ms;
}
.nav-main li:nth-child(2) a {
  transition: all 275ms 225ms;
}
.nav-main li:nth-child(3) a {
  transition: all 275ms 275ms;
}
.active .burger {
  transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.active .burger:before {
  transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.active .burger:after {
  transform: translateY(-12px) translateX(10px) skew(-20deg);
  opacity: 0;
}

.nav-main ul,
.nav-main li {
  list-style: none;
  padding: 0;
}
.nav-main a {
  display: block;
  padding: 12px 0;
  color: black;
  font-size: 1.4em;
  text-decoration: none;
  font-weight: bold;
}

/* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
.nav-burger {
  position: absolute;
  top: 15px;
  padding-top: 20px;
  right: 15px;
  z-index: 1000;
  background: none;
  border: 0;
  cursor: pointer;
}
.nav-burger:focus {
  outline: none;
}
.burger {
  position: relative;
  display: block;
  width: 28px;
  height: 4px;
  margin: 0 auto;
  background: #000000;
  transform: skew(5deg);
  transition: all 0.275s;
}

.burger:after,
.burger:before {
  content: "";
  display: block;
  height: 100%;
  background: #0e0c0c;
  transition: all 0.275s;
}

.burger:after {
  transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
  transform: translateY(-16px) skew(-10deg);
}

/* Toggle State part */
.active .burger {
  transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.active .burger:before {
  transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.active .burger:after {
  transform: translateY(-12px) translateX(10px) skew(-20deg);
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .nav {
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: none;
    position: fixed;
    left: 0;
    z-index: 50;
    flex-direction: column;
  }
  .nav-mobile {
    display: none;
  }
  .nav-responsive {
    height: 100%;
    display: flex;
    width: 4rem;
    flex-direction: column;
    align-items: center;
  }
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    justify-content: space-evenly;
  }
}
