.wrapper {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: auto;
  justify-items: start;
  align-items: center;
}

.box-one {
  grid-column-start: 1;
}

.box-two {
  grid-column-start: 2;
  grid-row-start: 1;
  justify-items: center;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .box-one {
    grid-row-start: 1;
    width: 90vw;
  }

  .box-two {
    grid-row-start: 2;
  }
}
