.herosection-container {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.featured-title {
  color: var(--purple);
  margin-bottom: 2rem;
  text-align: center;
}
