.searchBar {
  width: 90vw;
  height: 7vh;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  padding-bottom: 0.5rem;
}

.searchBar:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.glass {
  width: 2rem;
  height: 1.5rem;
  margin-right: 2rem;
}

.innerSearchBar {
  width: 50vw;
  height: 4vh;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  vertical-align: middle;
  border: 1px black solid;
  outline: none;
}

@media only screen and (min-width: 769px) and (max-width: 1440px) {
  .glass {
    position: absolute;
    top: 1rem;
    left: 9rem;
  }
}

@media only screen and (max-width: 768px) {
  .searchBar {
    height: 8vw;
  }
}

@media only screen and (max-width: 564px) {
  .glass {
    height: 1rem;
    width: 1.5rem;
  }
}

@media only screen and (max-width: 425px) {
  .glass {
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  .searchBar {
    padding: 0.3rem;
  }
}

@media only screen and (max-width: 230px) {
  .searchBar {
    padding-bottom: 1rem;
  }
}
